bin/*
!lib/reprof/bin/
*.war
*.class
*.pdb
*.txt
*.mat
*.inpairs
*.outpairs
*.seqlib
*.settings
ccp*
*.scores
*.config
src/test/Test.java
WebContent/WEB-INF/classes
WebContent/WEB-INF/lib/Jmol.jar
WebContent/WEB-INF/lib/TMscore.jar
WebContent/WEB-INF/lib/colt.jar
WebContent/WEB-INF/lib/concurrent.jar
WebContent/jobs
init*
upd*
DBS*
clusters/*
clusters2/*
proteins*/
lib/.gitignore
